{# Étendre une vue à partir d'une vue de base #}
{% extends 'base.html.twig' %}

{# modifier le contenu d'un block da la vue parente#}
{% block title %}HomeController{% endblock %}

    {% block body %}

<div class="example-wrapper">
    <h1>Accueil</h1>
    <p> Site fictif</p>
</div>

{# *************************************************** Section actualitées Alternance ************************************************** #}
<div>
    <div class="example-wrapper">
        <h2>Les actu alternances</h2>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4">

        {# ********************* Les cards ****************** #}
        {% for i in 1..6 %}
            <div class="col">
                <twig:BootstrapCard
                    title="Annonce"
                    imgSrc="https://picsum.photos/seed/{{i}}/200/200"
                    btnLink=""
                    btnLabel="Détails"
                >
                </twig:BootstrapCard>
            </div>
        {% endfor %}
    </div>
</div>

{# ***************************************************** Section actualitées stage ****************************************************** #}
<div>
    <div class="example-wrapper">
        <h2>Les actu stages</h2>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
         {% for i in 1..6 %}
            <div class="col">
                <twig:BootstrapCard
                    title="Annonce"
                    imgSrc="https://picsum.photos/seed/{{i}}/200/200"
                    btnLink=""
                    btnLabel="Détails"
                >
                </twig:BootstrapCard>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
