{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
    <div id="headerPage" >
        <h1>Liste de mes annonces</h1>
        <p> Site fictif</p>
    </div>
    {{dump(annonces)}}

{% endblock %}
