{% extends 'base.html.twig' %}

{% block title %}Hello AproposController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>A Propos</h1>
        <p> Site fictif</p>
    </div>

    <div class="container my-5">
        <!-- **************** logo ******************* -->   
        <a class="navbar-brand" href="#">
            <img src="" alt="Logo" width="30" height="24">
        </a>

        <!-- **************** le site ******************* -->   
        <p>AlternaStageConnect est un site web 100% en ligne créé pour répondre aux besoins croissants des entreprises et des chercheurs de stage ou d'alternance. De nombreuses entreprises, et particulièrement les PME, rencontrent des difficultés pour rendre leurs annonces de stagiaire ou d'alternant visibles auprès des bons candidats. Le site vise à résoudre ce problème en offrant une plateforme simple et accessible, où les entreprises peuvent facilement publier leurs offres et où les candidats peuvent trouver des opportunités correspondant à leurs recherches, sans passer par des démarches longues et frustrantes.</p>

        <p>Les entreprises, notamment les PME, ne savent pas toujours comment rendre leurs demandes plus visibles ou comment cibler les bons profils, ce qui entraîne souvent une faible réponse ou un manque de visibilité. AlternaStageConnect pallie cette difficulté en centralisant les annonces de manière claire et efficace, permettant aux entreprises de mieux atteindre leurs futurs alternants ou stagiaires. Ce site constitue une solution idéale pour optimiser la gestion des offres de stage ou d’alternance, tout en gagnant en visibilité auprès des bons profils.</p>

        <p>Pour les entreprises, et particulièrement celles qui n’ont pas les ressources pour gérer des demandes venant de candidats non qualifiés ou non pertinents, le site permet de gagner en efficacité, en temps et en argent. En centralisant toutes les candidatures et les demandes en un seul endroit, AlternaStageConnect évite les échanges inutiles avec des candidats qui ne correspondent pas aux besoins de l’entreprise. Cela permet ainsi de concentrer les efforts uniquement sur les profils adaptés, optimisant ainsi le processus de recrutement.</p>

        <p>Nous espérons qu'AlternaStageConnect deviendra une solution incontournable pour les entreprises à la recherche de stagiaires ou d’alternants, et qu’il contribuera à simplifier et améliorer l’expérience pour les candidats également.</p>

        <!-- **************** Perso ******************* -->   
        <h2>Un projet personnel</h2>
        <p>Je m'appelle <strong>Marie-Josée SCHMITT</strong>, je suis en reconversion professionnelle et j'ai 36 ans. Je vis en Alsace et je suis passionnée par l'informatique et le domaine du web. Ce site est avant tout un projet réalisé dans le cadre de ma formation diplômante, mais j'espère qu'il pourra grandir et avoir un impact concret dans le monde de l'alternance et des stages.</p>
        
        <p>AlternaStageConnect n'est pas juste un projet pour moi, c'est une solution concrète que je souhaite offrir à ceux qui, comme moi, ont eu à faire face à la difficulté de trouver une alternance ou un stage. Ce site est ma façon de contribuer à une meilleure gestion de ces processus.</p>
    </div>

{% endblock %}
