{% extends 'base.html.twig' %}

{% block title %}Hello AproposController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>A Propos</h1>
    <p> Site fictif</p>
</div>
{% endblock %}
