body {
    background-color: rgb(7, 18, 71);
    color:aliceblue;
}


/* ************************************** Logo *************************************** */
#logoPerso{
    width: 12rem;
    height: 3.7rem;
    border-radius:0.5rem 1.8rem;
    border: 0.1rem solid rgb(185, 184, 184);
} 

/* ************************************** header du body de toutes les pages *************************************** */
#headerPage{ 
    text-align: center;
    /* border:2px solid green;  */
}

#headerPage h1{
    font-size: 4rem;
    /* border:2px solid purple; */
}

#headerPage p {
    font-size: 2rem;
    font-weight: 700;
    color: aliceblue;
    background-color: rgba(10, 51, 164, 0.997);
    /* border:2px solid blue; */
}
/* ************************************** Logo - A Propos *************************************** */
#logoSite{
    width: 30rem;
    height: 10rem;
    border-radius:0.7rem 4.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#logoBoby{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    /* border:2px solid purple; */
}

/* ************************************** Image - erreur *************************************** */
#erreur{
    width: 40rem;
    height: 25rem;
    /* border:2px solid red; */
}

/* ************************************** Page -Annonce *************************************** */
#boutonAjoutAnnonce{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    /* border: 2px solid gold; */
}

/* ************************************** Page - Détails Alternance / stage *************************************** */
#detailTitre{
    text-align: center;
    font-weight:700;
    text-transform:uppercase;
    margin: 1rem 0rem;
    /* border: 2px dashed goldenrod; */
}

#detailMetier{
    text-align: center;
    font-weight: 500;
    text-transform:capitalize;
    /* border:2px solid slateblue; */
}

#detailExp{
    text-align: center;
    /* border:2px solid mediumspringgreen; */
}

#detailImg{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  */
    max-width: 30rem;
    height: 10rem; 
    text-align: center;
    /* border:2px solid coral; */
}

#postuler{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border:2px dotted fuchsia; */
}

/* ************************************** Page - Édit Alternance / stage *************************************** */
#supprimer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border:2px dotted mediumblue; */
}

.toast {
    position: fixed;
    top: 20px; /* Ajustez la distance du haut de l'écran */
    left: 50%;
    transform: translateX(-50%); /* Centre le toast horizontalement */
    z-index: 1050; /* Assurez-vous qu'il soit au-dessus des autres éléments */
}
