{% extends 'base.html.twig' %}

{% block title %}Ajouter un stage{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div id="headerPage" >
            <h1>Ajouter un stage</h1>
            {# <twig:BootstrapButton type="primary" path="{{ path('app_alternances') }}" text="Retourner à la liste" /> #}

            <a href="{{path('app_stages')}}"> Retourner à la liste</a>
            
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1">
            {{ form(formCreate)}}
        </div>
    </div>
    {# {{ dump(request )}}  #}

{% endblock %}