{% extends 'base.html.twig' %}

{% block title %}Modifier un stage{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div id="headerPage" >
            <h1>Modifier un stage</h1>
            <twig:BootstrapButton type="primary" path="{{ path('app_stages') }}" text="Retourner à la liste" />
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1">
            {{ form(formEdit) }}
        </div>
        <div id="supprimer" class="row row-cols-4">
            <twig:BootstrapButton type="danger"path="{{ path('app_stages_delete', { id: stage.id }) }}"  text="Supprimer" /> 
        </div>
    </div>
{% endblock %}