<div id="carte" class="card h-100 d-flex flex-column">
    {% if imgSrc %}
        <div class="embed-responsive embed-responsive-16by9">
            <img src="{{ asset('uploads/images/' ~ imgSrc) }}" class="card-img-top embed-responsive-item">
        </div>
    {% endif %}

    <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ title }}</h5>

        {% if metier %}
            <p class="card-text">{{ metier }}</p>
        {% endif %}

        {% block content %}{% endblock %}

        <div class="mt-auto">
            {% block buttons %}{% endblock %}
        </div>
    </div>
</div>