{% extends 'base.html.twig' %}

{% block title %}Mentions Legales{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div id="headerPage" >
            <h1>Mentions légales</h1>
            <p> Site fictif</p>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1">
            <p>Nom de l'entreprise : ALternaStageConnect</p>
            <p>Adresse du siège social : France / Alsace </p>
            <p>Directeur de la publication : SCHMITT M-J</p>

           <h2> Hébergement :</h2>
            <p>Le site est hébergé par [Nom de l'hébergeur], situé à [adresse de l'hébergeur] – [numéro de téléphone de l'hébergeur].</p>

           <h2> Propriété intellectuelle :</h2>
            <p>Le contenu de ce site, incluant mais ne se limitant pas aux textes, images, logos, vidéos, et autres éléments graphiques, est la propriété exclusive de ALternaStageConnect, sauf mention contraire. Toute reproduction ou utilisation sans autorisation est interdite.</p>

            <h2>Protection des données personnelles :</h2>
            <p>Les données personnelles collectées sur ce site, telles que les informations liées à l'inscription ou à la candidature, sont destinées à l'usage exclusif d'ALternaStageConnect. Conformément à la loi Informatique et Libertés du 6 janvier 1978 et au Règlement Général sur la Protection des Données (RGPD), vous disposez d'un droit d'accès, de rectification et de suppression de vos données. Vous pouvez exercer ces droits en nous contactant à [adresse e-mail de contact].</p>

            <h2>Limitation de responsabilité :</h2>
            <p>ALternaStageConnect met tout en œuvre pour offrir des informations exactes et à jour. Toutefois, nous ne pouvons garantir l'exactitude, l'intégralité ou la pertinence de ces informations. En aucun cas, ALternaStageConnect ne pourra être tenu responsable des dommages directs ou indirects résultant de l'utilisation de ce site.</p>

           <h2>Utilisation du site :</h2>
            <p>L'utilisation de ce site implique l'acceptation des présentes mentions légales. Nous nous réservons le droit de modifier ces mentions légales à tout moment.</p>
        </div>
    </div>
{% endblock %}
