{% extends 'base.html.twig' %}

{% block title %}E mail{% endblock %}

{% block body %}


<div class="example-wrapper">
    <div id="headerPage" >
         <h1>Bienvenue, {{ name }} !</h1>
    </div>
</div>

<div class="container my-6">
    <div class="row">
        <p>Merci de vous être inscrit sur AlternanceStageConnect.</p>
        <p>Nous sommes ravis de vous compter parmi nous.</p>
    </div>
</div>
{% endblock %}
